services:
  lldap:
    image: lldap/lldap:stable
    container_name: lldap
    ports:
      - 3890:3890
      - 17170:17170
    volumes:
      - type: volume
        source: lldap_data
        target: /data
        volume:
          nocopy: true
    environment:
      - TZ=America/Denver
      - LLDAP_JWT_SECRET=${SECRET}
      - LLDAP_KEY_SEED=${SEED}
      - LLDAP_LDAP_BASE_DN=${BASE_DN}
      - LLDAP_LDAP_USER_PASS=${USER_PASS}
    deploy:
      mode: replicated
      placement:
        constraints:
          - node.role == manager

volumes:
  lldap_data:
    driver: local
    driver_opts:
      type: nfs
      o: addr=172.16.10.2,rw,nfsvers=4,soft,timeo=600
      device: ":${MNT}"

networks:
  default:
    name: auth_net
    driver: overlay
    external: false
    attachable: true
