services:
  lldap:
    image: lldap/lldap:stable
    container_name: lldap
    ports:
      - 3890:3890
      - 17170:17170
    volumes:
      - ${MNT}:/data
    environment:
      - TZ=America/Denver
      - LLDAP_JWT_SECRET=${SECRET}
      - LLDAP_KEY_SEED=${SEED}
      - LLDAP_LDAP_BASE_DN=${BASE_DN}
      - LLDAP_LDAP_USER_PASS=${USER_PASS}

networks:
  default:
    name: auth_net
    driver: overlay
    external: false
    attachable: true