services:
  planka:
    image: ghcr.io/plankanban/planka:2.0.0-rc.4
    #command: npm run db:upgrade
    container_name: planka
    restart: unless-stopped
    environment:
      - BASE_URL=${URL}
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@planka-db/${DB_NAME}
      - PGID=${GID}
      - PUID=${UID}
      - SECRET_KEY=${SECRET_KEY}
      - DEFAULT_LANGUAGE=en-US
    ports:
      - ${PORT}:1337
    volumes:
      - ${MNT}/attachments:/app/private/attachments
      - ${MNT}/background-images:/app/public/background-images
      - ${MNT}/user-avatars:/app/public/user-avatars
      - ${MNT}/favicons:/app/public/favicons
    networks:
      - default
      - auth_net
    depends_on:
      - postgres
    labels:
      caddy: ${URL}
      caddy.reverse_proxy: "{{ upstreams 1337 }}"
  
  postgres:
    container_name: planka-db
    hostname: planka-db
    image: postgres:16-alpine
    restart: unless-stopped
    volumes:
      - ${MNT}/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_HOST_AUTH_METHOD=trust
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d planka"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  default:
    name: planka_network
    external: false
  auth_net:
    external: true
