services:
  plex:
    container_name: plex
    #hostname: plex
    image: lscr.io/linuxserver/plex:${VERSION}
    restart: unless-stopped
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
      - VERSION=latest
      - PLEX_CLAIM=${PLEX_CLAIM}
    volumes:
      - /home/plex:/config
      - ${MNT}:/media
      - ${MNT_BACKUP}:/backup
    network_mode: host
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels == media_server
