services:
  bookstack:
    image: lscr.io/linuxserver/bookstack:latest
    container_name: bookstack
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=America/Denver
      - APP_URL=${URL}
      - APP_KEY=${APP_KEY}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USERNAME=${DB_USER}
      - DB_PASSWORD=${DB_PASS}
      - DB_DATABASE=${DB_DATABASE}
      #- QUEUE_CONNECTION= #optional
    volumes:
      - ${MNT}:/config
    ports:
      - ${PORT}:80
    restart: unless-stopped
    networks:
      - default
      - tinyauth_net
    labels:
      caddy: ${URL}
      caddy.reverse_proxy: "{{ upstreams 80 }}"
    
  mariadb:
    image: lscr.io/linuxserver/mariadb:latest
    container_name: bookstack-db
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=US/Mountain
      - MYSQL_ROOT_PASSWORD=${SQL_ROOT}
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASS}
    volumes:
      - ${MNT}/db:/config
    #ports:
     #- 3306:3306
    restart: unless-stopped
    networks:
      - default

networks:
  default:
    name: bookstack_network
    internal: true
    ipam:
      config:
        - subnet: 172.25.3.0/29
          gateway: 172.25.3.1
  tinyauth_net:
    external: true
