services:
  gitea:
    container_name: gitea
    image: gitea/gitea:latest
    environment:
      USER_GID: ${GID}
      USER_UID: ${UID}
    networks:
      - auth_net
    ports:
      - ${PORT}:3000
      - 222:22
    restart: unless-stopped
    volumes:
      - ${MNT}:/data
    deploy:
      labels:
        caddy: ${URL}
        caddy.reverse_proxy: "{{ upstreams 3000 }}"

networks:
  caddy:
    name: caddy_caddy
    external: true
