services:
  trilium:
    container_name: trilium
    environment:
      - USER_UID=${UID}
      - USER_GID=${GID}
    image: triliumnext/trilium:latest
    ports:
      - ${PORT}:8080
    restart: unless-stopped
    volumes:
      - ${MNT}:/home/node/trilium-data
    networks:
      - auth_net
    labels:
      caddy: ${URL}
      caddy.reverse_proxy: "{{ upstreams 8080 }}"
      caddy.import: tinyauth_forwarder *
      caddy.forward_auth: tinyauth:3000
      caddy.forward_auth.uri: /api/auth/caddy

networks:
  auth_net:
    external: true