name: trilium
services:
  trilium:
    container_name: trilium
    environment:
      - USER_UID=${UID}
      - USER_GID=${GID}
    image: triliumnext/trilium:latest
    ports:
      - ${PORT}:8080
    restart: unless-stopped
    volumes:
      - ${MNT}:/home/node/trilium-data
    networks:
      - default
      - tinyauth_net
    labels:
      caddy: ${URL}
      caddy.reverse_proxy: "{{ upstreams 8080 }}"
      caddy.import: tinyauth_forwarder *
      caddy.forward_auth: tinyauth:3000
      caddy.forward_auth.uri: /api/auth/caddy

networks:
  default:
    name: trilium_net
    internal: true
    ipam:
      config:
        - subnet: 172.20.2.0/30
          gateway: 172.20.2.1
  tinyauth_net:
    external: true