# REQUIRES VARIABLES: HOSTNAME, SCHEDULE

services:
  watchtower:
    container_name: watchtower
    image: nickfedor/watchtower
    hostname: ${HOSTNAME}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8080:8080
    restart: unless-stopped
    network_mode: bridge
    environment:
      - TZ=US/Mountain
      - WATCHTOWER_SCHEDULE=0 0 4 * * 0 #${SCHEDULE}
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_MONITOR_ONLY=true
      - WATCHTOWER_NOTIFICATIONS=slack
      - WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=${SLACK_HOOK_URL}
      - WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER=${HOSTNAME}
      - WATCHTOWER_NOTIFICATION_SLACK_CHANNEL=${SLACK_CHANNEL}
      - WATCHTOWER_LABEL_TAKE_PRECEDENCE=true
      - WATCHTOWER_HTTP_API_METRICS=true
      - WATCHTOWER_HTTP_API_TOKEN=${API_TOKEN}
      - WATCHTOWER_RUN_ONCE=${RUN_ONCE}
