services:
    immich-server:
        container_name: immich-server
        image: ghcr.io/immich-app/immich-server:release
        environment:
            DB_DATABASE_NAME: ${DB_NAME}
            DB_PASSWORD: ${DB_PASS}
            DB_USERNAME: ${DB_USER}
        networks:
            - default
            - auth_net
        ports:
            - ${PORT}:2283
        restart: unless-stopped
        volumes:
            - ${MNT_MEDIA}/Photos:/usr/src/app/upload
            - /etc/localtime:/etc/localtime:ro
            - ${MNT_MEDIA}/Photos/thumbs:/usr/src/app/upload/thumbs
            - ${MNT_MEDIA}/Photos/encoded-video:/usr/src/app/upload/encoded-video
            - ${MNT_MEDIA}/Photos/profile:/usr/src/app/upload/profile
        depends_on:
            - database
            - redis
        deploy:
            resources:
                limits:
                    memory: "1g"
                    cpus: '1'
        labels:
            caddy: ${URL}
            caddy.reverse_proxy: "{{ upstreams 2283 }}"

    immich-machine-learning:
        container_name: immich-machine-learning
        image: ghcr.io/immich-app/immich-machine-learning:release
        environment:
            DB_DATABASE_NAME: ${DB_NAME}
            DB_PASSWORD: ${DB_PASS}
            DB_USERNAME: ${DB_USER}
        restart: unless-stopped
        volumes:
            - ${MNT}/model-cache:/cache
        deploy:
            resources:
                limits:
                    memory: "1g"
                    cpus: '1'

    database:
        container_name: immich-postgres
        image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0
        environment:
            POSTGRES_DB: ${DB_NAME}
            POSTGRES_INITDB_ARGS: '--data-checksums'
            POSTGRES_PASSWORD: ${DB_PASS}
            POSTGRES_USER: ${DB_USER}
        restart: unless-stopped
        volumes:
            - ${MNT}/postgres:/var/lib/postgresql/data
        deploy:
            resources:
                limits:
                    memory: "512m"
                    cpus: '1'

    redis:
        container_name: immich-redis
        image: docker.io/valkey/valkey:8-bookworm
        restart: unless-stopped
        volumes:
            - ${MNT}/redis:/data
        healthcheck:
            test: redis-cli ping || exit 1
        deploy:
            resources:
                limits:
                    memory: "512m"
                    cpus: '1'

networks:
    default:
        name: immich_network
        driver: overlay
        internal: true
    auth_net:
        external: true
