services:
  tinyauth:
    image: ghcr.io/steveiliop56/tinyauth:v4
    container_name: tinyauth
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - APP_URL=${APP_URL}
      - USERS=${USERS}
      - LDAP_ADDRESS=ldap://lldap:3890
      - LDAP_BIND_DN=${LDAP_DN}
      - LDAP_BIND_PASSWORD=${LDAP_BIND_PASS}
      - LDAP_BASE_DN=${LDAP_BASE_DN}
      - LDAP_SEARCH_FILTER=(uid=%s)
      - LDAP_INSECURE=true
    networks:
      - auth_net
      - caddy
    deploy:
      mode: replicated
      placement:
        constraints:
          - node.role == manager
      labels:
        caddy: ${APP_URL}
        caddy.reverse_proxy: "{{upstreams 3000}}"
        caddy.tls: "internal"

networks:
  auth_net:
    external: true
  caddy:
    name: caddy_caddy
    external: true
    
