services:
  homebox:
    image: sysadminsmedia/homebox:latest
    container_name: homebox
    restart: unless-stopped
    environment:
      - HBOX_LOG_FORMAT=text
      - HBOX_LOG_LEVEL=info
      - HBOX_MODE=production
      - HBOX_STORAGE_DATA=/data/
      - PUID={UID}
      - PGID={GID}
    ports:
      - ${PORT}:7745
    volumes:
      - ${MNT}:/data
    networks:
      - default
      - tinyauth_net
    labels:
      caddy: ${URL}
      caddy.reverse_proxy: "{{ upstreams 7745 }}"

networks:
  default:
    name: homebox_net
    internal: true
    ipam:
      config:
        - subnet: 172.25.10.0/30
          gateway: 172.25.10.1
  tinyauth_net:
    external: true
