services:
    broker:
        container_name: paperless-ngx_broker
        image: docker.io/library/redis:8
        restart: unless-stopped
        volumes:
            - ${MNT}/broker:/data
    db:
        container_name: paperless-ngx_db
        image: docker.io/library/postgres:17
        restart: unless-stopped
        volumes:
            - ${MNT}/db:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: ${DB_NAME}
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASS}

    paperless-ngx:
        container_name: paperless-ngx
        image: ghcr.io/paperless-ngx/paperless-ngx:latest
        restart: unless-stopped
        depends_on:
            - db
            - broker
        ports:
            - ${PORT}:8000
        environment:
            - USERMAP_UID=${UID}
            - USERMAP_GID=${GID}
            - PAPERLESS_DBHOST=paperless-ngx_db
            - PAPERLESS_DBNAME=${DB_NAME}
            - PAPERLESS_DBUSER=${DB_USER}
            - PAPERLESS_DBPASS=${DB_PASS}
            - PAPERLESS_REDIS=redis://paperless-ngx_broker:6379
            - PAPERLESS_TIME_ZONE=US/Mountain
            - PAPERLESS_ADMIN_USER=${ADMIN_USER}
            - PAPERLESS_ADMIN_PASSWORD=${ADMIN_PASS}
            - PAPERLESS_OCR_LANGUAGE=eng
            - PAPERLESS_FILENAME_FORMAT={{ created_year }}/{{ title }}
            - PAPERLESS_URL=https://paperless.wesleythacker.com
        volumes:
            - ${MNT}/data:/usr/src/paperless/data
            - ${MNT}/media:/usr/src/paperless/media
            - ${MNT}/export:/usr/src/paperless/export
            - ${MNT}/consume:/usr/src/paperless/consume
        networks:
            - default
            - caddy

networks:
    default:
        name: paperless-ngx_network
        internal: true
        ipam:
            config:
                - subnet: 172.25.4.0/29
    caddy:
        name: caddy_caddy
        external: true
